* {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  background-color: #363a3a;
  display: grid;
  place-items: center;
}

.calculadora {
  background-color: #020202;
  color: white;
  width: 350px;
  max-width: 100%;
  padding: 1.5rem;
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
}

.pantalla {
  grid-column: 1/-1;
  background-color: cadetblue;
  padding: 1, 5rem;
  font-size: 2, 5rem;
  text-align: center;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  font-family: monospace;
  font-weight: 600;
}

.btn {
  background-color: cadetblue;
  color: white;
  padding: 1.5rem 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn :hover {
  background-color: cyan;
}

#cero {
  grid-column: span 2;
}

#igual {
  grid-row: span 2;
  background-color: #f03636c0;
}

#igual :hover {
  background-color: red;
}
